In [3]:

import numpy as np
import pandas as pd

# Create the user interface

## Use streamlit for the app

In [4]:
st.markdown("""# Business Case - 869
## Prediction and analysis of sales in Favorita stores located in Ecuador
Presentation of our project""")

2022-06-01 11:21:44.101
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/farahboukitab/.pyenv/versions/3.8.13/envs/business_case_869/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [8]:
### Load csv dataset
data_train = pd.read_csv("/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/train.csv")
data_stores = pd.read_csv("/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/stores.csv")
#merge train dataset and stores dataset
data_train_merge_stores = pd.merge(data_train, data_stores, on="store_nbr")
data_train_merge_stores['date'] = pd.to_datetime(data_train_merge_stores['date'])
#create baseline dataset
data_baseline = data_train_merge_stores
data_baseline['month'] = data_baseline['date'].dt.month
data_baseline['year'] = data_baseline['date'].dt.year

In [10]:
# this slider allows the user to select a number of lines
# to display in the dataframe
# the selected value is returned by st.slider
line_count = st.slider('Select a line count', 1, 100000, 100)
# and used in order to select the displayed lines
display_df = data_baseline.head(line_count)
display_df

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,month,year
0,0,2013-01-01,1,AUTOMOTIVE,0.000000,0,Quito,Pichincha,D,13,1,2013
1,1,2013-01-01,1,BABY CARE,0.000000,0,Quito,Pichincha,D,13,1,2013
2,2,2013-01-01,1,BEAUTY,0.000000,0,Quito,Pichincha,D,13,1,2013
3,3,2013-01-01,1,BEVERAGES,0.000000,0,Quito,Pichincha,D,13,1,2013
4,4,2013-01-01,1,BOOKS,0.000000,0,Quito,Pichincha,D,13,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
95,3593,2013-01-03,1,PREPARED FOODS,63.000000,0,Quito,Pichincha,D,13,1,2013
96,3594,2013-01-03,1,PRODUCE,0.000000,0,Quito,Pichincha,D,13,1,2013
97,3595,2013-01-03,1,SCHOOL AND OFFICE SUPPLIES,0.000000,0,Quito,Pichincha,D,13,1,2013
98,3596,2013-01-03,1,SEAFOOD,17.366001,0,Quito,Pichincha,D,13,1,2013
99,5346,2013-01-04,1,AUTOMOTIVE,3.000000,0,Quito,Pichincha,D,13,1,2013